.interna_contato {
  background: url("../img/bg-contato.jpg") no-repeat center;
  background-size: cover;
}
/* Orçamento */
.contato {
  padding-top: 30px;
}

.contato_form {
  padding-right: 60px;
}
.contato_form label {
  display: block;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}
.contato_form input {
  display: block;
  width: 100%;
  border: 4px solid #fec63e;
  background: none;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  padding: 5px 2px;
  font-size: 14px;
  outline: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.contato_form textarea {
  display: block;
  width: 100%;
  border: 4px solid #fec63e;
  background: none;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  height: 120px;
  padding: 5px 2px;
  font-size: 14px;
  outline: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  resize: none;
}
.contato_form textarea::-webkit-scrollbar {
  width: 16px;
}
.contato_form textarea::-webkit-scrollbar-thumb {
  background: #daac3d;
  border-radius: 5px;
}
.contato_form button {
  background: none;
  margin: 15px 0 30px 0;
  padding: 7px 40px;
}
.orcamento_dados {
  color: white;
}

.contato_dados h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #fec63e;
  font-weight: bold;
  line-height: 25px;
}
.contato_dados span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contato_dados span:nth-of-type(even) {
  margin-bottom: 20px;
}

.contato_dados ul {
  margin-top: 10px;
}
.contato_dados ul li {
  display: inline-block;
  margin-right: 10px;
}
.contato_dados ul li a {
  border: 3px solid #fec63e;
  width: 50px;
  height: 50px;
  display: block;
  padding: 6px;
  transition: 0.5s;
}
.contato_dados ul li a:hover {
  border-color: #000;
  transition: 0.5s;
}
.orcamento_dados p {
  margin: 8px 0;
}

.contato_mapa {
  margin-bottom: 60px;
}
