.interna_produtos {
  background: url("../img/bg-produtos.jpg") no-repeat center;
  background-size: cover;
}
.produtos_item {
  padding-top: 60px;
}
.produto_icone {
  background-color: black;
  text-align: center;
  padding: 68px 0;
}
.produtos_item h2 {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  position: relative;
  top: -204px;
  text-align: center;
  color: white;
  margin-bottom: -60px;
}
.produtos_item h2:after,
.produtos_item h2:before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 14px auto 6px auto;
}
.produto_info {
  background: #000;
}
.produto_info p {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  padding: 41px 30px;
}
.produto_info ul li {
  background: #fec63e;
  text-transform: uppercase;
  width: 229px;
  height: 48px;
  float: left;
  text-align: center;
  font-weight: bold;
  padding-top: 16px;
}
/* O comando nth:-child seleciona itens da lista. :nth-child(odd) = ímpares / :nth-child(even) = pares */
.produto_info ul li:nth-child(even) {
  margin-left: 2px;
}
.produto_info ul li:nth-child(1),
.produto_info ul li:nth-child(2) {
  margin-bottom: 2px;
}

/* Orçamento */
.orcamento {
  background: #000;
  width: 100%;
  margin-top: 60px;
  padding-top: 30px;
}
.orcamento h2 {
  color: #fec63e;
}
.orcamento h2:after {
  content: "";
  width: 80px;
  height: 3px;
  margin-top: 8px;
  display: block;
  background-color: #fec63e;
}
.form {
  padding-right: 60px;
}
.form label {
  display: block;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}
.form input {
  display: block;
  width: 100%;
  border: 4px solid #fec63e;
  background: none;
  color: #fff;
  margin-bottom: 10px;
  padding: 5px 2px;
  font-size: 14px;
  outline: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.form textarea {
  display: block;
  width: 100%;
  border: 4px solid #fec63e;
  background: none;
  color: #fff;
  margin-bottom: 10px;
  height: 120px;
  padding: 5px 2px;
  font-size: 14px;
  outline: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  resize: none;
}
.form textarea::-webkit-scrollbar {
  width: 16px;
}
.form textarea::-webkit-scrollbar-thumb {
  background: #daac3d;
  border-radius: 5px;
}
.form button {
  background: none;
  margin: 15px 0 30px 0;
  padding: 7px 40px;
}
.orcamento_dados {
  color: white;
}

.orcamento_dados h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #fec63e;
  font-weight: bold;
  line-height: 25px;
}
.orcamento_dados span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.dados-email {
  margin-bottom: 20px;
}

.orcamento_dados ul li {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  padding: 10px 15px;
}
.orcamento_dados ul li:nth-child(odd) {
  background: #1d1d1d;
}
.orcamento_dados p {
  margin: 8px 0;
}
